@model List<UISaleTicket>

    <body>
    <div class="block w-auto border border-blue-500 m-8">
        <h1>TICKET FOR CUSTOMER SUCCESS</h1>
        <form action="/ticket/cs" method="POST">
            <label for="content">Content:</label>
            <input type="text" id="content" name="content" required><br><br>

            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="block w-auto border border-blue-500 m-8">
        <h1>TICKET FOR ENGINEER</h1>
        <form action="/ticket/engineer" method="POST">
            <label for="content">Content:</label>
            <input type="text" id="content" name="content" required><br><br>

            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="block w-auto border border-blue-500 m-8">
        <h1>Ticket for Sale Department:</h1>
        <ul>
            @foreach (var ticket in Model)
            {
                <li>
                    <p>
                        @ticket.TicketID @ticket.UserID @ticket.DateCreated.ToLongDateString() @ticket.Product @ticket.Content
                    </p>
                    <p>
                        <a href="/ticket/sale/@ticket.TicketID">Detail</a>
                    </p>
                </li>
            }
        </ul>
    </div>
    </body>
