@model SaleTicket

<div class="block w-auto border border-blue-500 m-8">
    <h1>Sale Ticket Detail</h1>
    <p>User Created: @Model.UserID</p>
    <p>Date Created: @Model.DateCreated.ToShortDateString()</p>
    <p>Product: @Model.Product</p>
    <p>Content: @Model.Content</p>
    <div></div>
    <div>UPDATE TICKET</div>
    <div>
        <label for="selection">Ticket Status:</label>
        <select id="selection" name="selection">
            <option value="Open" @(Model.Status == "Open" ? "selected" : "")>Open</option>
            <option value="InProgress" @(Model.Status == "InProgress" ? "selected" : "")>In Progress</option>
            <option value="Pending" @(Model.Status == "Pending" ? "selected" : "")>Pending</option>
            <option value="Resolve" @(Model.Status == "Resolve" ? "selected" : "")>Resolve</option>
        </select>
    </div>
    <div>
        <button onclick="updateTicket()">Submit</button>
    </div>
    <div id="update_result"></div>
    <div>
        <button onclick="queryComment()">Update Comments</button>
    </div>
    <div id="comments"></div>
    <div id="comment">
        <input type="text" id="comment-content" value="" />
        <button type="submit" onclick="postComment()">Post</button>
    </div>
    <div id="postCommentResult"></div>
</div>

<script>
    function updateTicket() {
        var selection = document.getElementById("selection").value;

        var data = {
            status: selection
        };

        var ticketID = @Model.ID;

        fetch('/ticket/sale/' + ticketID, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.text())
        .then(data => {
            document.getElementById("update_result").innerHTML = data;
        })
        .catch(error => {
            document.getElementById("update_result").innerHTML = error;
        });
    }
    function postComment() {
        var ticketID = @Model.ID;
        var userID = @Model.UserID;
        var content = document.getElementById("comment-content").value;

        var data = {
            TicketID: ticketID,
            UserID: userID,
            Content: content,
        };

        console.log(data);

        fetch('/comment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.text())
        .then(data => {
            document.getElementById("postCommentResult").innerHTML = data;
        })
        .catch(error => {
            document.getElementById("postCommentResult").innerHTML = error;
        });
    }
    function queryComment() {
        var ticketID = @Model.ID;

        fetch('/comment/' + ticketID, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
            .then(data => {
                var content = "";
                for (var i = 0; i < data.length; i++) {
                    content += data[i];
                    content += '<br />';
                }
            document.getElementById("comments").innerHTML = content;
        })
        .catch(error => {
            document.getElementById("comments").innerHTML = error;
        });
    }
</script>